<header>
  <nav>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" routerLink="/ts-1" routerLinkActive="active" ariaCurrentWhenActive="page">Ts 1</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/ts-2" routerLinkActive="active" ariaCurrentWhenActive="page">Ts 2</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/angular-1" routerLinkActive="active" ariaCurrentWhenActive="page">Angular 1</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/angular-2" routerLinkActive="active" ariaCurrentWhenActive="page">Angular 2</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/angular-3" routerLinkActive="active" ariaCurrentWhenActive="page">Angular 3</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/scss-1" routerLinkActive="active" ariaCurrentWhenActive="page">SCSS 1</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/scss-2" routerLinkActive="active" ariaCurrentWhenActive="page">SCSS 2</a></li>
    </ul>
  </nav>
</header>
<div class="body">
  <router-outlet></router-outlet>
</div>
